@page
@using Microsoft.AspNetCore.Identity                  
@using ASP.NETCoreGruppProjektDaniel_John.Models;    
@inject SignInManager<MyUser> SignInManager            
@inject UserManager<MyUser> UserManager                   
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>


    @if (SignInManager.IsSignedIn(User))
    {
        <h2>Hello @Model.MyUser.FirstName @Model.MyUser.LastName !</h2>
    }
</div>

