@page
@model ASP.NETCoreGruppProjektDaniel_John.Pages.User.LoginModel

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<form method="post">
    <input asp-for="LoginUser.UserName"/>
    <input asp-for="LoginUser.Password"/>
    <input type="submit" />

</form>

<div>
    <a asp-page="/Index">Back to List</a>
</div>
