@page
@model ASP.NETCoreGruppProjektDaniel_John.Pages.User.RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>
<form method="post">
    <label for="FirstName">First name:</label><br />
    <input id="FirstName" asp-for="NewUser.FirstName" required /><br />
    <label for="LastName">Last name:</label><br />
    <input id="LastName" asp-for="NewUser.LastName" required /><br />
    <label for="UserName">User name:</label><br />
    <input id="UserName" asp-for="NewUser.UserName" /><br />
    <label for="password">Password:</label><br />
    <input id="password" type="password" asp-for="NewUser.Password" /><br />
    <input type="submit" />

</form>

<div>
    <a asp-page="/Index">Back to List</a>
</div>

@if (Request.Method == "POST")
{
    <div>
        <h3 style="color:red">Invalid user information</h3>
    </div>
}