@page
@model ASP.NETCoreGruppProjektDaniel_John.Pages.Admin.NuclearModel
@{
    ViewData["Title"] = "Nuclear";
}
<h1>Nuclear Option</h1>
<h4>Reset the database?</h4>
<br />
<div>
    <form method="post">
        <input type="submit" name="test" value="Nuclear Option!" style="background-color:red;" />
    </form>
</div>
<br />

<div>
    <a asp-page="/Index">Back to Index</a>
</div>